* {
    box-sizing: border-box;
    margin: 2px;
    padding: 3px;
}

#section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

button {
    background-color: #424842;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
